# Ignorer le dossier node_modules
node_modules

# Ignorer le cache des outils de développement
node_modules/.cache/

# Ignorer les fichiers de build ou générés
build/
dist/
coverage/

# Ignorer le répertoire public si non versionné
public/

# Fichiers d'environnement et logs
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
