/* src/components/Appartements.css */
:root {
    --padding: 2vw;
    --card-margin: 2vh;
    --image-width: 10vw;
    --image-height: 7vh;
    --font-size-title: 2vw;
    --font-size-text: 1.5vw;
    --font-size-price: 1.8vw;
}

.appartements-container {
    display: flex;
    padding: var(--padding);
}

.sidebar {
    width: 60%;
    padding: var(--padding);
}

.map {
    width: 40%;
    padding: var(--padding);
}

.apartment-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: var(--card-margin);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.apartment-card img {
    width: var(--image-width);
    height: var(--image-height);
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.apartment-details {
    flex: 1;
    padding: calc(var(--padding) / 2);
}

.apartment-details h2 {
    font-size: var(--font-size-title);
    margin: 0;
    font-weight: bold;
    color: #333;
}

.apartment-details p {
    margin: 5px 0;
    color: #666;
    font-size: var(--font-size-text);
}

.price {
    font-size: var(--font-size-price);
    font-weight: bold;
    color: #ff6347;
    margin-left: auto;
    padding-right: var(--padding);
}

.map img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}