:root {
    --padding-base: 2vw; /* Base padding relative à la largeur de l'écran */
    --font-size-base: 1rem; /* Taille de police de base */
    --font-size-title: 2rem; /* Taille de police pour les titres */
    --font-size-card-text: 1.2rem; /* Taille du texte dans les cartes */
    --max-card-width: 90%; /* Largeur maximale des cartes de lieux */
    --border-radius: 0.5rem; /* Rayon de bordure relatif */
    --button-padding: 2vw 4vw; /* Taille du padding des boutons */
    --shadow-color: rgba(0, 0, 0, 0.2); /* Couleur de l'ombre */
    --navbar-bg: #003366; /* Couleur de fond de la navbar */
    --add-location-bg: #3075f4; /* Couleur du bouton d'ajout de lieu */
    --delete-btn-bg: red; /* Couleur du bouton de suppression */
    --status-label-bg: #fff; /* Fond du label de statut */
    --text-color: #333; /* Couleur du texte principal */
    --status-label-color: green; /* Couleur du texte du label de statut */
}

.appartement-details {
    max-width: 80%; /* Limite la largeur à 80% de l'écran */
    margin: 0 auto; /* Centre horizontalement */
    text-align: center; /* Centre le texte */
    background: #f9f9f9;
    border-radius: var(--border-radius);
    padding: 3vw;
    box-shadow: 0 2vw 3vw var(--shadow-color);
}

.appartement-details h1 {
    font-size: 2rem;
    margin-bottom: 1vw;
}

.appartement-details p {
    font-size: 1.2rem;
    color: var(--text-color);
}

.appartement-details img {
    display: block;
    margin: 0 auto 2vw;
    border-radius: var(--border-radius);
}
.carousel {
    width: 40vw;
    max-width: 60vw;
    margin: 0 auto;
}

.carousel-image {
    width: 100%;
    height: auto;
    border-radius: 1vh;
    box-shadow: 0 0.5vh 0.8vh rgba(0, 0, 0, 0.1);
}

.upload-container {
    text-align: center;
    margin-top: 2vh;
}

.upload-label {
    display: block;
    padding: 1.5vh 2vw;
    background-color: #007bff;
    color: white;
    border-radius: 1vh;
    cursor: pointer;
    width: fit-content;
    font-size: 2vh;
    margin: 0 auto;
}

.upload-input {
    display: none;
}

.status-label {
    font-size: 0.8rem;
    color: var(--status-label-color);
    background-color: var(--status-label-bg);
    padding: 0.5vw 1vw;
    border-radius: var(--border-radius);
    position: absolute;
    top: 5vw;
    right: 2vw;
    box-shadow: 0 0.2vw 0.5vw var(--shadow-color);
}

