.appartement-details {
    max-width: 80%; /* Limite la largeur à 80% de l'écran */
    margin: 0 auto; /* Centre horizontalement */
    text-align: center; /* Centre le texte */
    background: #f9f9f9;
    border-radius: var(--border-radius);
    padding: 3vw;
    box-shadow: 0 2vw 3vw var(--shadow-color);
}

.appartement-details h1 {
    font-size: 2rem;
    margin-bottom: 1vw;
}

.appartement-details p {
    font-size: 1.2rem;
    color: var(--text-color);
}

.appartement-details img {
    display: block;
    margin: 0 auto 2vw;
    border-radius: var(--border-radius);
}
.carousel {
    width: 40vw;
    max-width: 60vw;
    margin: 0 auto;
}

.carousel-image {
    width: 100%;
    height: auto;
    border-radius: 1vh;
    box-shadow: 0 0.5vh 0.8vh rgba(0, 0, 0, 0.1);
}

.upload-container {
    text-align: center;
    margin-top: 2vh;
}

.upload-label {
    display: block;
    padding: 1.5vh 2vw;
    background-color: #007bff;
    color: white;
    border-radius: 1vh;
    cursor: pointer;
    width: fit-content;
    font-size: 2vh;
    margin: 0 auto;
}

.upload-input {
    display: none;
}
