.login-container {
    text-align: center;
    padding: 50px;
}

.login-title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.login-form {
    display: inline-block;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: white;
}

.login-form input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #003366; /* Couleur de fond du bouton */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #002244; /* Couleur au survol */
}

.login-form p {
    color: red; /* Couleur de l'erreur */
    font-weight: bold;
}
