:root {
    --base-font-size: 16px; /* Taille de base pour 1rem */
    --spacing-unit: 1rem; /* Unité de base pour les espacements */
    --button-padding: 0.625rem 1.25rem; /* 10px 20px en rem */
    --input-padding: 0.625rem; /* 10px en rem */
    --border-radius: 0.3125rem; /* 5px en rem */
    --font-size-title: 2rem; /* 32px en rem */
    --font-size-input: 1.875rem; /* 30px en rem pour une meilleure adaptation */
    --font-size-button: 1rem; /* Taille du texte du bouton en rem */
}

.login-container {
    text-align: center;
    padding: calc(3 * var(--spacing-unit)); /* 50px en rem */
}

.login-title {
    font-size: var(--font-size-title);
    font-weight: bold;
    color: #333;
    margin-bottom: calc(1.25 * var(--spacing-unit)); /* 20px en rem */
}

.login-form {
    display: inline-block;
    margin-top: calc(1.875 * var(--spacing-unit)); /* 30px en rem */
    border-radius: var(--border-radius);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: calc(1.25 * var(--spacing-unit)); /* 20px en rem */
    background-color: white;
}

.login-form input {
    width: 18.75rem; /* 300px en rem */
    padding: var(--input-padding);
    margin: calc(0.625 * var(--spacing-unit)) 0;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
}

.login-form button {
    padding: var(--button-padding);
    border: none;
    border-radius: var(--border-radius);
    background-color: #003366; /* Couleur de fond du bouton */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: var(--font-size-button);
}

.login-form button:hover {
    background-color: #002244; /* Couleur au survol */
}

.login-form p {
    color: red; /* Couleur de l'erreur */
    font-weight: bold;
}
