/* src/components/Appartements.css */
.appartements-container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 60%;
    padding: 20px;
}

.map {
    width: 40%;
    padding: 20px;
}

.apartment-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;

}

.apartment-card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.apartment-details {
    flex: 1;
    padding: 15px;
}

.apartment-details h2 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: #333;
}

.apartment-details p {
    margin: 5px 0;
    color: #666;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #ff6347;
    margin-left: auto;
    padding-right: 15px;
}

.map img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
